body{
			margin-top: 0px;
			line-height: 1.6
		}
		.container{
			width: 100%;
			margin: 0 auto;
		}

.city {
  position: fixed;
  bottom: 100;
  right: 0;
  width: 100px;
  border: 3px solid #73AD21;
  width: 100%;
  text-align: left;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 0px;
  padding: 10px;
}


.card {
  margin-top: 1em;
  width: 100%;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin: 0px;
  padding: 10px;
}

.item 
{background:white;
 text-align: left;
  font-weight: bold;
width:440px;
padding-bottom:30px;
  padding-top:30px;


		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #black;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}
