





<!DOCTYPE html>
<html>

<head>
	<title>ng-model</title>
	<script src=
"https://code.angularjs.org/1.6.9/angular.min.js">
	</script>
</head>

<body>
	<h3> Geeks For Geeks </h3>
	<div ng-app="" ng-init="price=106; quantity=; km=" >
		Enter petrol price : <br>
			<input type="text" ng-model="price">
			<br><br>

		Enter your vehical  average : <br>
			<input type="text" ng-model="quantity">
			<br><br>
			
			Enter km you are going : <br>
			<input type="text" ng-model="km"> <br> <br>
			
		<b>Total Fuel Will Cost You : {{100 | / quantity * km}}  ₹ </b>
		
		
	</div>
</body>

</html>

