











                

                




<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Custom jQuery tabs code</title>
  <link rel="stylesheet" href="./tab.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul class="tabs">
  <li class="tab-button"><a href="#" class="tab-link active" data-tab="tab1">Tab 1</a></li>
  <li class="tab-button"><a href="#" class="tab-link" data-tab="tab2"> Tab 2</a></li>
  <li class="tab-button"><a href="#" class="tab-link" data-tab="tab3">Tab 3</a></li>
</ul>
<div class="tab-pane">
  <div class="tab-panel active" id="tab1">
    <!DOCTYPE html>
<html lang="en" >
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Shopping Cart in AngularJS</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'><link rel="stylesheet" href="./order.css">

</head>
<body>
<!-- partial:index.partial.html -->
<html ng-app="myApp">
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  </head>
  
  <body class="container" ng-controller="myController">
    <h1>Welcome to the GA Camping Store</h1>
    <br/>
   






    
    
    <h4>SEARCH PRODUCT: <input type="text" ng-model="searchText"></h4>
    <br/>
    <div class="row">
      <table class="table col-md-9 col-md-offset-3">
        
<!DOCTYPE html>
<html>
<head>
<style>
div.fixed {
    background-color: #f0f0f1;
  position: fixed;
  bottom: 70;
  right: 0;
  width: 150px;
  border: 0px solid #73AD21;
}
</style>
</head>
<body>

<div class="fixed">
    



    &nbsp;&nbsp;
<b>YOUR ORDER :-</b>
        
   
      <ul>
        <li class="animate-repeat" ng-repeat="item in cart | orderBy:'category'">

          <span>{{ item.description}} X {{item.qty}} <br>  </span> 
      

</div>

</body>
</html>
        
        
        <tr class="animate-repeat" ng-repeat="item in inventory | filter:searchText | orderBy:'' ">
         <td> <div class="center"> <img src="
                 {{ item.category }}" alt="Girl in a jacket" width="150" height="150">
           <br>
            
        <b> {{ item.description }} </b><br>
          {{item.price}} Rs. <br>
           <input type="number" ng-model="item.qty" class="qty"> 
           
          
          
          
            <button class="btn-primary" ng-click="addItem(item)">Add to Cart</button>
           
           
        
      </table> </div>
    </div>



  </div>
  <div class="tab-panel" id="tab2">
        <div class="row">
      <h2>Your Cart:</h2>
      <ul>
        <li class="animate-repeat" ng-repeat="item in cart | orderBy:'category'">
          <img src="
                 {{ item.category }}" alt="Girl in a jacket" width="100" height="100"> <br>
          <span>{{ item.description}} <br> QTY :- {{item.qty}} X {{item.price}} Rs. Rs. </span> <br>
          <button class="btn-danger btn-xs" ng-click="removeItem(item);">Remove Item</button> 
          </br> </br> <hr/>
          </br>
        </li>
      </ul>
      <h3>Total: {{ getTotal() | currency }}</h3>
      <button class="btn-danger" ng-click="clearCart();">Clear Cart</button>
    </div>
  </body>
</html>
<!-- partial -->
  <script  src="./order.js"></script>

</body>
</html>






<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Print hidden image with js</title>
  <link rel="stylesheet" href="./Print.css">

</head>
<body>
<!-- partial:index.partial.html -->

<a href="#" onClick="printDiv('largeimg')" class="print">DOWNLOAD AS PDF</a>

<div  id="largeimg" style="display:none;"> 
<img src="http://dummyimage.com/600x400/000/fff"> 
</div>
<!-- partial -->
  <script  src="./Print.js"></script>

</body>
</html>
  </div>
  <div class="tab-panel" id="tab3">
    Duis at nibh nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eget libero vel sapien interdum pretium. Aliquam odio enim, cursus id scelerisque eu, blandit at augue. Praesent vestibulum tortor eu tortor lacinia interdum. Curabitur blandit urna nec eros porta condimentum. Vestibulum posuere cursus tincidunt. Fusce non efficitur sem, sed volutpat ex. Maecenas venenatis nunc id leo tincidunt congue. Vivamus dignissim mi sed libero rhoncus eleifend. Aliquam nec porta mauris. Vivamus aliquet vulputate nibh, quis auctor nibh pellentesque ac. Praesent vitae lacus id nisi egestas interdum.
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script><script  src="./tab.js"></script>

</body>
</html>




<!DOCTYPE html> 

<html> 

  

<head> 

    <title> 

        How to take screenshot of 

        a div using JavaScript? 

    </title> 

  

    <!-- Include from the CDN -->

    <script src= 

"https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"> 

    </script> 

  

    <!-- Include locally otherwise -->

    <!-- <script src='html2canvas.js'></script> -->

  

    <style> 

        #photo { 

            border: 4px solid green; 

            padding: 4px; 

        } 

    </style> 

</head> 

  

<body> 

    <div id="photo"> 

        <h1>GeeksforGeeks</h1> 

        Hello everyone! This is a 

        trial page for taking a 

        screenshot. 

        <br><br> 

        This is a dummy button! 

        <button> Dummy</button> 

        <br><br> 

        Click the button below to 

        take a screenshot of the div. 

        <br><br> 

  

        <!-- Define the button  

        that will be used to  

        take the screenshot -->

        <button onclick="takeshot()"> 

            Take Screenshot 

        </button> 

    </div> 

    <h1>Screenshot:</h1> 

    <div id="output"></div> 

  

    <script type="text/javascript"> 

  

        // Define the function  

        // to screenshot the div 

        function takeshot() { 

            let div = 

                document.getElementById('photo'); 

  

            // Use the html2canvas 

            // function to take a screenshot 

            // and append it 

            // to the output div 

            html2canvas(div).then( 

                function (canvas) { 

                    document 

                    .getElementById('output') 

                    .appendChild(canvas); 

                }) 

        } 

    </script> 

</body> 

  

</html> 