#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#top > * {
  margin-bottom: 8px;
}

.negative {
  display: none;
  opacity: 0;
}

.show {
  opacity: 100;
  display: inherit;
}

.menu {
  margin: 0rem 0rem 1rem 0rem !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(250, 250, 250, 0.5) !important;
}
.menu .item {
  display: flex;
  justify-content: center;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: url("https://i.imgur.com/j0NpUBd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(250, 250, 250, 0.95) !important;
}