@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.row1 {
  justify-content: space-between;
  width: 100%;
  margin: 10px;
}

.btn {
  margin: 10px 3px;
  border: none;
  color: white;
  width: 180px;
  height: 60px;
  font-size: 18px;
  border-radius: 2px;
  color: #fff;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background: #fff;
  opacity: 0.2;
  transition: transform 300ms ease-in;
}

.primary {
  background: #1b98f5;
}

.danger {
  background: #f44336;
}

.success {
  background: #6fb065;
}

.info {
  background: #201f20;
}

.warning {
  background: #eca02d;
}

.hover-center:after {
  transform: scale(0);
  transform-origin: center;
}

.hover-center:hover:after {
  transform: scale(1);
}

.hover-left:after {
  transform: scale(0, 1);
  transform-origin: left;
}

.hover-left:hover:after {
  transform: scale(1);
}

.hover-bottom:after {
  transform: scale(1, 0);
  transform-origin: bottom;
}

.hover-bottom:hover:after {
  transform: scale(1);
}

.hover-right:after {
  transform: scale(0, 1);
  transform-origin: right;
}

.hover-right:hover:after {
  transform: scale(1);
}

.hover-top:after {
  transform: scale(1, 0);
  transform-origin: top;
}

.hover-top:hover:after {
  transform: scale(1);
}