<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Basic Angular Tab Mechanism</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


<section class="tab-content" ng-app="myApp" ng-controller="SideBarController as tc">
<ul class='nav nav-pills'>
 <li ng-class="{active:tc.isSet(1)}">
   <a href  ng-click="tc.setTab(1)">Item One</a>
 </li>
 <li ng-class="{active:tc.isSet(2)}">
  <a href ng-click="tc.setTab(2)">Item Two</a>
 </li>
 <li ng-class="{active:tc.isSet(3)}">
  <a href ng-click="tc.setTab(3)">Item Three</a></li>
</ul>
<div class="tabs">
 <div ng-show="tc.isSet(1)" class="tab"><h1>Item sameer</h1></div>
 <div ng-show="tc.isSet(2)" class="tab"><h1><h2>Locations</h2>
<ul id="locList">
</ul>

<h2>New Location</h2>
<div class="box box-flex">
<form id="formLoc11">
 <label></label><input type="hidden" id="nameLoc11"class="name"  value="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/NEWARRIVAL/1.jpeg">
 <label>Qty:</label>
<input type="number" id="descLoc11"   required>
<input onclick="this.value='ADDED ✅'" type="submit" value="SEND"/>
</form> <br> <hr/>


    <div class="tab-header"></div>
         <img src="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/1.jpeg" onError="this.onerror=null;this.src='https://hunksammy.github.io/2084377289testbysam/PRODUCTS/stockout.jpg';"  alt="Girl in a jacket" width="250" height="250">
<p>ITEM NO  - 1</p>
<div class="box box-flex">
<form id="formLoc26">
 <label></label><input type="hidden" id="nameLoc26"class="name"  value="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/1.jpeg">
 <label>Qty:</label>
<input type="number" id="descLoc26"   required>
<input onclick="this.value='ADDED ✅'" type="submit" value="SEND"/>
</form>  </div>
<hr/>





<img src="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/2.jpeg" onError="this.onerror=null;this.src='https://hunksammy.github.io/2084377289testbysam/PRODUCTS/stockout.jpg';"  alt="Girl in a jacket" width="250" height="250">
<p>ITEM NO  - 2</p>
<div class="box box-flex">
<form id="formLoc27">
 <label></label><input type="hidden" id="nameLoc27"class="name"  value="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/2.jpeg">
 <label>Qty:</label>
<input type="number" id="descLoc27"   required>
<input onclick="this.value='ADDED ✅'" type="submit" value="SEND"/>
</form>  </div>
<hr/>





<img src="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/3.jpeg" onError="this.onerror=null;this.src='https://hunksammy.github.io/2084377289testbysam/PRODUCTS/stockout.jpg';"  alt="Girl in a jacket" width="250" height="250">
<p>ITEM NO  - 3</p>
<div class="box box-flex">
<form id="formLoc28">
 <label></label><input type="hidden" id="nameLoc28"class="name"  value="https://hunksammy.github.io/2084377289testbysam/PRODUCTS/BLOCKS/3.jpeg">
 <label>Qty:</label>
<input type="number" id="descLoc28"   required>
<input onclick="this.value='ADDED ✅'" type="submit" value="SEND"/>
</form>  </div>
<hr/>


</h1>   <script  src="./HTSHOP.js"></script>
</div>

 <div ng-show="tc.isSet(3)" class="tab"><h1>Item Three</h1></div>
</div>
</section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>
